/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family:'Exo');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f4f3f3;

  app-root * {
    font-family: "Exo"sans-serif;
  }
}


.left-spacer{
    margin-left: 2%;
}
