.login-card{
    max-width: 800px;
    min-width: 150px;
    width: 400px;
    margin: 10% auto;
}

table{
    width: 100%;
}

.full-width{
    width: 100%;
    display: block;
}


form{
    padding: 10px;
}